<div class="status-bar">
  <span class="status-bar__path">
    <span class="status-bar__dot"></span>
    {{ statusPath }}
  </span>
  <div class="status-bar__right">
    <span data-scroll-pct>0%</span>
    <div class="status-bar__progress">
      <div class="status-bar__progress-fill"></div>
    </div>
  </div>
</div>
